body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px 96px;
  align-items: center;
}

/* ↓↓ меню ↓↓ */
/*.header__menu {
 /// неиспользуемый класс?
}*/

.header__links-list {
  display: flex;
  gap: 30px;
  white-space: nowrap;
  margin-right: 36px;
  font-size: 18px;
}

.header__links-list-item {
  list-style: circle;
}

.header__link {
  
  display: inline-block;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active .header__link {
  text-decoration: none;
}

/* ↓↓ лого ↓↓ */
.header__logo {
  justify-self: center;
}

.header__logo-image {
  width: 148px;
}

/* ↓↓ адрес ↓↓ */
.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: end;
  font-size: 18px;
  width: 100%;
  max-width: 240px;;
  line-height: 24.3px;;
}


.adress__link {
  text-decoration: none;

}

.header__address {
  justify-self: end;
  text-underline-offset: 4px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: start;
  font-size: 18px;
  width: 100%;
  max-width: 240px;;
  line-height: 24.3px;;
}

/* ↓↓ cover ↓↓ */
.cover {
  background-image: url("../images/cover.jpg");
  background-size: 100% 757px;
  background-repeat: no-repeat;
  color: #FFF;
  padding: 165px 50px 207px;
}

.cover__text {
  display: grid;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 30px;
  line-height: 115px;
  font-weight: 700;
}

.cover__text-center {
  text-align: center;
}

.cover__text-right {
  text-align: right;
}

.description {
  display: grid;
  justify-content: space-between;
  align-items: end;
  grid-template-columns: repeat( 2, max-content);
  padding: 106px 50px 50px 0;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 15px;
}

.button__bet {
  border: 1px solid #FFF;
  background-color: transparent;
  color: #FFF;
  width: 256px;
  height: 51px;
}