/* ↓↓ header ↓↓ */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 0 50px;
  align-items: center;
  min-height: 293px;
}

.header__links-list {
  display: flex;
  gap: 40px;
  white-space: nowrap;
  margin-right: 36px;
  font-size: 18px;
}

.header__links-list-item {
  list-style: circle;
}

.header__link {
  display: inline-block;
}

.header__links-list-item_no-bullit,
.footer__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active .header__link {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
  align-self: start;
}

.header__logo-image {
  width: 148px;
  height: 105px;
  margin-top: 92px;
}

/* ↓↓ адрес шапка ↓↓ */
.address {
  font-size: 18px;
  width: 100%;
  max-width: 240px;
  line-height: 24.3px;
}

.header .address {
  justify-self: end;
}

.adress__link {
  text-decoration: none;
}

.header__address {
  display: grid;
  align-items: center;
  justify-self: end;
}

/* ↓↓ cover ↓↓ */
.cover {
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 757px;
  color: #fff;
  padding: 165px 50px 50px 50px;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover__title,
.cover__description {
  position: relative;
  z-index: 1;
}

.aligned-text {
  z-index: 1;
  display: block;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 30px;
  margin-right: -30px;
  line-height: 115px;
  font-weight: 700;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  margin: 20px 0 20px 35px;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 106px 0 0 0;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  word-spacing: 20px;
  line-height: 28px;
}

.cover__description-text {
  align-self: center;
}

.button__bet {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  width: 256px;
  height: 51px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
}

/* ↓↓ лоты ↓↓ */
.lots {
  z-index: 1;
  padding: 180px 24px 0 24px;
  justify-content: space-between;
  gap: 25px;
  color: #fff;
}

.lots__heading {
  color: #000;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  padding-left: 40px;
  padding-bottom: 27px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 596px;
  padding: 48px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.card__title {
  z-index: 1;
  justify-content: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
  align-content: start;
}

.card__text {
  z-index: 1;
  flex-direction: column;
  font-size: 20px;
  line-height: 1.2;
}

.card__text-bottom {
  display: block;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  color: #000;
  font-size: 20px;
  text-transform: lowercase;
  padding-left: 40px;
  padding-top: 30px;
}

/* ↓↓ about ↓↓ */
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 25px;
  padding: 120px 24px 0 24px;
  color: #000;
}

.about__column {
  padding-top: 35px;
  padding-left: 47px;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  background-size: 148px 114px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  padding-top: 133px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text-block {
  padding-top: 100px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
}

/* ↓↓ footer ↓↓ */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 180px;
  padding: 0 50px 82px 50px;
}

.footer .address {
  justify-self: start;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  font-size: 18px;
  align-items: center;
  justify-self: center;
}

.footer__links-list-item {
  list-style: none;
}

.footer__link {
  display: inline;
}

.footer__link_active .footer__link {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  width: 48px;
}

.overlay {
  position: absolute;
  z-index: 0;
  inset: 0;
  background-color: #000;
  opacity: 60%;
}
